body {
    section.home {
        .home-container {
            h1 {
                bottom: 40px;
            }

            .container-title {
                width: 75%;
            }

            .home-title {
                bottom: 30px;
            }

        }

    }

}