body {
    section.roadmap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        #slider {
            top: 25px;

            .step {
                padding: 20px 20px;
                position: relative;

                &:first-child {
                    .timeline {
                        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgb(255, 255, 255) 9%,#24F8DE 9%,#24F8DE 92%, rgba(255, 255, 255, 1) 100%);
                        height: 70%;
                        width: 2px;
                        position: relative;
                        left: 0px;
                        top: 10%;
                    }
                }

                &:nth-child(2) {
                    .timeline {
                        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%,#24F8DE 9%,#24F8DE 50%, rgba(0, 0, 0, 1) 12%, rgba(0, 0, 0, 1) 92%, rgb(255, 255, 255) 100%);
                        height: 70%;
                        width: 2px;
                        position: relative;
                        left: 0px;
                        top: 10%;
                    }
                }

                .timeline {
                    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgb(0, 0, 0) 9%, rgba(0, 0, 0, 1) 92%, rgba(255, 255, 255, 1) 100%, );
                    height: 70%;
                    width: 2px;
                    position: relative;
                    top: 5%;

                    .circle {
                        width: 100%;
                        height: 100%;
                        margin: 0 auto;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        right: 8px;
                        top: 0px;

                        .green {
                            background:#24F8DE;
                        }



                        li {
                            width: 15px;
                            height: 15px;
                            border-radius: 8px;
                            border: 2px solid rgb(0, 0, 0);
                            background: rgb(0, 0, 0);
                        }
                    }

                }

                .ul_roadmap {
                    width: 100%;
                    list-style-type: none;
                    display: flex;
                    position: absolute;
                    top: 6%;

                    .item {
                        width: 40%;
                        display: flex;
                        position: relative;
                        text-align: center;
                        left: 5%;

                        &:nth-child(1) {
                            position: absolute;
                            top: 54px;
                        }

                        &:nth-child(2) {
                            position: absolute;
                            top: 124px;
                            left: 56%;
                        }

                        &:nth-child(3) {
                            position: absolute;
                            top: 196px;
                        }

                        &:nth-child(4) {
                            position: absolute;
                            top: 265px;
                            left: 56%;
                        }
                    }


                    h4 {
                        font-size: 24px;
                        margin-bottom: 6px;
                    }

                    p {
                        font-family: 'Quicksand';
                        font-weight: 700;
                        font-size: 14px;
                    }
                }

            }

        }
    }
}